name: Deploy to AWS EC2

on:
  push:
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: python -m venv venv && source venv/bin/activate && pip install -r requirements.txt

      - name: Create archive of dependencies
        run: |
          cd venv/lib/python3.8/site-packages
          zip -r9 ../../../../app.zip .
      - name: Add app code to archive
        run: cd ../../../../ && zip -g app.zip app
      - name: Upload zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: app.zip
