name: Deploy to AWS

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: python -m venv venv && source venv/bin/activate && pip install -r requirements.txt

      - name: mkdir deployment
        run: mkdir deployment
      - name: Copy site-packages
        run: cp -r venv/lib/python3.8/site-packages/* deployment/
      - name: Copy main
        run: cp app/main.py deployment/main.py
      - name: Copy app
        run: cp -r app deployment/app
      - name: Zip everything
        run: zip -r deployment.zip deployment

      - name: Upload zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: deployment
          path: deployment.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_SECRET_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      - name: Download Lambda deployment.zip
        uses: actions/download-artifact@v4
        with:
          name: deployment

      - name: Upload to S3
        run: aws s3 cp deployment.zip s3://adapter/deployment.zip

      - name: Deploy new Lambda
        run: aws lambda update-function-code --function-name spotify_adapter --s3-bucket adapter --s3-key deployment.zip
