name: Deploy to AWS

on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: "3.8"

      - name: Install dependencies
        run: python -m venv venv && source venv/bin/activate && pip install -r requirements.txt

      - name: Create archive of dependencies
        run: zip -r9 app.zip venv/lib/python3.8/site-packages
      - name: Add app code to archive
        run: zip -r app.zip app
      - name: Upload zip artifact
        uses: actions/upload-artifact@v4
        with:
          name: app
          path: app.zip

  deploy:
    runs-on: ubuntu-latest
    needs: build
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    steps:
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_SECRET_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_DEFAULT_REGION }}
      - name: Download Lambda app.zip
        uses: actions/download-artifact@v4
        with:
          name: app

      - name: Upload to S3
        run: aws s3 cp app.zip s3://adapter/app.zip

      - name: Deploy new Lambda
        run: aws lambda update-function-code --function-name spotify_adapter --s3-bucket adapter --s3-key app.zip
